
/*------------------ VARIABLES -------------------*/
:root {
  --color1: #675682;
  --color1-hover: #8d7aa8;
  --color-dark: black;
  --color-light: white;
  --color2: #2fa8d8;
  --color2-hover: #77d4f9;
  --color3: #c64776;
  --color4: #478c5e;
  --color4-hover: #52a56e;
}

/*------------------ GENERAL -------------------*/

body {
  background-color: --color-light;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, p {
	cursor: default;
}

h1 {
	font-size: 6em;
	font-family: 'Satisfy', cursive;
	cursor: default;
}

h2 {
	font-size: 3em;
	font-family: 'Satisfy', cursive;
}

h3 { font-size:1.5em; }

h4 { font-size: 1.5em; }

p { font-size: 1.1em; }

.fade { opacity: 0; }

section { padding: 60px; }

.section-title {
	padding: 1em;
	text-align:center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/*------------------ NAVBAR -------------------*/

#navbar-container {
	height: 3em;
}

#navbar {
 	z-index: 1;
 	-webkit-transition: .25s; /* Safari */
	transition: .25s;
	float: none;
	height: 3em;
}

#navbar a {
	float: center;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	-webkit-transition: .25s; /* Safari */
	transition: .25s;
	height: 3em;
	font-family: 'Open Sans', sans-serif;
}

#navbar a:hover {
  background-color: var(--color1-hover);
  color: var(--color-light);
}

#navbar .icon, #navbar #home {
 	display: none;
}

.content {
	padding: 16px;
}

.non-sticky {
	background-color: var(--color-light);
}

.non-sticky a {
	color: var(--color1);
}

.sticky {
	height: 4em;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--color1);
}

.sticky a {
	color: white;
}

.sticky + .content {
	padding-top: 60px;
}


/*------------------ HEADER -------------------*/

#profpic {
	width: 100%;
	filter: opacity(95%);
	padding-bottom: 1em;
}

#bio {
	padding-top: 2rem;
  	text-align: center;
  	background-color: var(--color1); /*rgb(178, 8, 105);/*#49265e;*/
  	color: var(--color-light);
}

#bio h3 {
	font-size:  1.3em;
}

#links {
	text-align: center;
}

#links ul {
	list-style: none;
	padding: 0;
}

#links li {
	display: inline-block;
	padding: 5px;
	font-size: 2em;
	-webkit-transition: .5s;
	transition: .5s;
}

#links a:hover {
	color: #bbb;
}

#links a {
	color: white;
	-webkit-transition: .5s;
	transition: .5s;
}

/*------------------ ABOUT ME -------------------*/
#about {
	background-color: var(--color2);
	color: var(--color-light);
}

#about a {
	color: var(--color-light);
	font-weight: bold;
}

/*------------------ EXPERIENCE -------------------*/

#experience h2 {
	color: var(--color4);
}

#experience .sect-item {
	padding: 2em;
	margin: 2em 0;
	background-color: var(--color4);
	color: var(--color-light);
}

#experience h3 {
	font-weight: bold;
}

/*------------------ SKILLS -------------------*/
#skills {
	background-color: var(--color3);
	color: var(--color-light);
}

#skills p {
	padding-top: 20px;
}

#skills .skill-container {
  width: 100%;
  background-color: #ddd;
  height: 30px;
}

#skills .skill-level {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  height: 30px;
  color: white;
}

.java {width: 90%; background-color: var(--color2);}
.cs {width: 85%; background-color: var(--color2);}
.htmlcss {width: 90%; background-color: var(--color2);}
.javascript {width: 80%; background-color: var(--color2);}
.python {width: 85%; background-color: var(--color2);}
.unity {width: 65%; background-color: var(--color2);}
.arduino {width: 60%; background-color: var(--color2);}
.c {width: 70%; background-color: var(--color2);}

/*------------------ PROJECTS -------------------*/

#projects h2 {
	color: var(--color2);
}

#projects .sect-item {
	padding: 2em;
	margin: 2em 0;
	background-color: var(--color2);
	color: var(--color-light);
}

#projects a {
	color: var(--color-light);
	text-decoration: underline;
}

#projects h3 {
	font-weight: bold;
}

/*------------------ VOLUNTEERING -------------------*/

#volunteering {
	background-color: var(--color4);
	color: var(--color-light);
}

#volunteering .volunteer-item {
	padding: .5em;
}

#volunteering .content {
	padding: 1em;
	background-color: var(--color4-hover);
}

#volunteering h3 {
	font-weight: bold;
}

/* Contact */
#contact {
	text-align: center;
	color: var(--color-dark);
	padding-bottom: 80px;
}

#contact a {
	color: var(--color-dark);
	font-weight: bold;
	text-decoration: underline;
}

#contact i {
	font-size: 1.5em;
	padding: 15px;
	margin-top: 10px;
}

/*------------------ FOOTER -------------------*/

footer {
	padding: 1em;
	padding-top: 2em;
	background-color: var(--color1);
	color: var(--color-light);
}

/*------------------ SCREEN-SPECIFIC CSS -------------------*/

@media (max-width: 767px) {
	h1 {
		font-size: 3em;
	}

	#profpic {
		width: 75%;
	}

	#bio {
		height: calc(100vh - 6em);
	}

	#bio > img {
		width: 70%;
	}

	#bio-text {
		padding-top: 3rem;
		text-align: center;
	}

	#navbar, #navbar-container {
		height: 6em;
	}

	section {
		padding: 20px;
	}

	#about p {
		text-align: center;
	}

	.sect-item {
		text-align: left;
		padding: 0;
	}


}

@media (min-width: 768px) {
	#bio {
		height: calc(100vh - 3em);
		padding-top: 10rem;
	}
	#bio-text {
  		padding: 0rem 3rem;
	}

	.sect-item > .col-md-4 {
		text-align: right;
	}

	#about p {
		text-align: right;
	}
}