body {
  padding-top: 5rem;
  background-color: #FFFFFF;
}

#bio {
  padding: 4rem 1.5rem;
  text-align: left;
}

.navbar {
	height: 5.7rem;
	background-color: #EEEEEE;
}

.navbar-brand {
	font-size: 3em;
	color: #ba0303;
}

.navbar-brand, .navbar-nav > li, h3 {
	font-family: 'Pathway Gothic One', sans-serif;
	text-transform: uppercase;
}

.navbar-nav > li {
	font-size: 1.8em;
}

h3 {
	font-size:2em;
}

p {
	font-family: 'Cardo', serif;
	font-size: 1.1em;
}

@media (max-width: 768px) {
	#bio > img {
		width: 80%;
	}
	#bio-text {
		padding-top: 3em;
		text-align: center;
	}
}

@media (min-width: 768px) {
	#bio-text {
  	padding: 0rem 3rem;
	}
}